* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Yekan;
}

 /* ------------------- Header --------------------- */

 h1 {
    color: #0061b6;
 }

.container {
    font-size: x-large;
}

.header {
    display: flex;
    direction: rtl;
    padding-block-start: 4rem;
    padding-inline-start: 5rem;
    padding-block-end: 5rem;
    padding-inline-end: 5rem;
}

.header-items {
    margin: auto;
}

.header-list {
    list-style: none;
    display: inline-block;
    padding: 0rem 2rem;
}

.header-list-link {
    text-decoration: none;
    color: #0061b6;
    font-size: 20px;
    padding-right: 1rem;
}
.header-button {
    background-color: #E6F3FF;
    border: none;
    color: #1894FF;
    padding: 13px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

 /* ------------------- Darmanito Application  --------------------- */

 .app-img {
    float: left;    
    padding-left: 12rem;
 }

 .app-text {
    direction: rtl;
    padding-inline-start: 20rem;
    padding-block-start: 8rem;
 }
 
 .app-text1 {
    direction: rtl;
    padding-inline-start: 20rem;
    padding-block-start: 2rem;
 }


 .p {
    font-size: 1rem;
 }

 .app-button {
    background-color: #1894FF;
    border: none;
    color: white;
    padding: 13px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
 }

 .app-button-withoutcolor {
    background-color: white;
    border-color: #c2daff;
    border-style: double;
    color: #1894FF;
    padding: 13px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
 }
  /* ------------------- Darmanito About --------------------- */

.about {
    display: inline-flex;
    padding-top: 10rem;
    padding-right: 15rem;
}

.text {
    direction: rtl;
    padding-top: 5rem;
    padding-right: 12rem;
}

.about-title {
    border-right: 4px solid #05FEA3;
    padding-right: 0.8rem;
    border-radius: 6px;
    color: #0061b6;
}

.p1 {
    width: 80%;
    line-height: 30px;  
}

.about-item {
    display: inline-flex;
    padding-top: 3rem;
    flex-flow: column;
    align-items: center;
    background-color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

 /* ------------------- Darmanito Possibilities --------------------- */

 .possibilities {
    padding: 5rem 10rem;
    direction: rtl;
}

.possibilities-title {
    color: #0061b6;
    border-right: 4px solid #05FEA3;
    padding-right: 0.8rem;
}

.possibilities-base {
    display: flex;
    padding-top: 2rem;
}

.possibilities-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.possibilities-items {
    justify-content: center;
    display: flex;
}

.possibilities-button,
.actived {
    width: 100%;
    border-radius: 25px;
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 0px 8px #a3daf1;
    border: none;
    padding: 2rem 3rem;
}

.disable {
    box-shadow: 0px 0px 8px gray;
    color: gray;
    opacity: 0.5;
}

.possibilities-button:focus {
    outline: 0;
}

.possibilities-button h3 {
    padding-top: 0.5rem;
}

.img {
    width: 60px;
}

.possibilities-text {
    padding-right: 7rem;
}

.text-ex {
    width: 72%;
    line-height: 40px;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.steps {
    display: flex;
    align-items: center;
}

.steps-img {
    width: 5%;
    padding: 0.5rem;
    background-color: #c7e8f7;
    border-radius: 30px;
}

.text-steps {
    padding-right: 1rem;
}

.steps-ex {
    width: 95.5%;
    margin: 0 auto;
    border-right: 1px solid gray;
    padding: 1rem 3rem;
}

.steps-img-check {
    width: 5%;
    padding: 0.5rem;
    background-color: #05FEA3;
    border-radius: 30px;
}

.steps-ex-check {
    width: 95.5%;
    margin: 0 auto;
    padding: 1rem 3rem;
}