@import "../Lib/vars";

@font-face {
    src: url("../fonts/Yekan.ttf");
    font-family: Yekan;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    src: url("../fonts/Yekan.ttf");
    font-family: Yekan;
}

/* ------------------- Darmanito Application  --------------------- */

.app {
    font-size: x-large;
    padding-block-start: 7rem;
 }
 .app-img {
    float: left;    
    padding-left: 8rem;
 }
 .app-text {
    direction: rtl;
    padding-inline-start: 7rem;
    padding-block-start: 8rem;
 }

.human {
    float: right;
    padding-left: 9px;
}

 .app-text-p {
     font-size:1.2rem;
     padding-right: 0.30rem;
 }
 
 .app-button {
    direction: rtl;
    padding-inline-start: 7rem;
    padding-block-start: 2rem;
 }

 .app-button-style {
     display: inline-block;
    background-color: $primary-color;
    border: none;
    color: white;
    padding: 13px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
 }

 .app-button-style-without-color , .without-color {
    @extend .app-button-style ;
        background-color: white;
        border-color: $border-color;
        border-style: solid;
        color: $primary-color;
        padding: 13px 30px;
 }

  /* ------------------- Darmanito About --------------------- */

.about {
    display: inline-flex;
    padding-top: 10rem;
    padding-right: 15rem;
    margin: auto;
}

.about-section {
    direction: rtl;
}
.about-text {
    padding-right: 7rem;
}
.about-images {
    padding-right: 4.5rem;
}

.about-text-title {
    border-right: $border-right-4;
    border-radius: 2px;
    color: $secoundary-color;
    direction: rtl;
    padding-right: 1rem;
}

.about-text-p {
    width: 80%;
    line-height: 30px;  
}

.about-items {
    display: inline-flex;
    padding-top: 1rem;
    flex-flow: column;
    align-items: center;
    background-color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

 /* ------------------- Darmanito Possibilities --------------------- */

 .possibilities {
    padding: 12rem 10rem;
    direction: rtl;
}

.possibilities-title {
    color: $secoundary-color;
    border-right: $border-right-4;
    padding-right: 0.8rem;
}

.possibilities-main {
    display: flex;
    padding-top: 2rem;
}

.possibilities-main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.possibilities-main-items {
    justify-content: center;
    display: flex;
}
.possibilities-main-items-button
 {
    width: 100%;
    border-radius: 25px;
    cursor: pointer;
    background-color: white;
    box-shadow: $box-shadow;
    border: none;
    padding: 2rem 3rem;
}
.actived {
    @extend .possibilities-main-items-button;
}

.disable {
    box-shadow: 0px 0px 8px gray;
    color: gray;
    opacity: 0.5;
}

.possibilities-main-items-button:focus {
    outline: 0;
}

.possibilities-main-items-button h3 {
    padding-top: 0.5rem;
}

.img {
    width: 60px;
}

.possibilities-text {
    padding-right: 7rem;
}

.text-ex {
    width: 72%;
    line-height: 40px;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.steps {
    display: flex;
    align-items: center;
}

.steps-img {
    width: 5%;
    padding: 0.5rem;
    background-color: #c7e8f7;
    border-radius: 30px;
}

.steps-text {
    padding-right: 1rem;
}

.steps-ex {
    width: 95.5%;
    margin: 0 auto;
    border-right: 1px solid gray;
    padding: 1rem 3rem;
}

.steps-img-check {
    width: 5%;
    padding: 0.5rem;
    background-color: $green-color;
    border-radius: 30px;
}

.steps-ex-check {
    width: 95.5%;
    margin: 0 auto;
    padding: 1rem 3rem;
}

 /* ------------------- Darmanito Application Download --------------------- */

.h1 {
    color: white;
}
 .app-download {
    background-color: $primary-color;
    display: flex;
    position: relative;
    margin-bottom: 2rem;
}
.app-download-img {
    width: 50%;
}
.app-download-img img {
        width: 40%;
        margin: 0 auto;
        display: flex;
        padding-top: 2rem;
        border-radius: 45px 45px 0px 0px;
}
.app-download-link {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}
.app-download-link a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2162b7;
    color: white;
    text-decoration: none;
    padding: 0.4rem 1rem;
    border-radius: 9px
}

.app-phone-number {
    width: 50%;
    display: flex;
    flex-flow: column;
    direction: rtl;
    padding: 6rem 5rem;
    color: white;
}
.app-phone-number-h {
    padding-top: 1.5rem;
}
.app-phone-number h1 {
    padding-top: 1rem;
}
.app-phone-number-send {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}
.app-phone-number-send input {
    width: 82%;
    padding: 0.7rem;
    border: none;
    border-radius: 0px 15px 15px 0px;
    text-align: center;
    font-size: 20px;
}
.app-phone-number-send input:focus {
    outline: 0;
}
.app-phone-number-send button {
    border: none;
    background-color: white;
    padding: 1rem;
    border-radius: 15px 0px 0px 15px; 
}
.app-phone-number-send button h4 {
    background-color: $primary-color;
    color: white;
    padding: 0.7rem 2rem;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
}
.app-phone-number-send button:focus {
    outline: 0;
}
::placeholder {
    font-size: 15px;
}


.android p {
    padding-right: 1rem;
}

.bazzar p,
.bazzar img {
    padding-right: 0.5rem;
}

.sibapp p {
    font-size: 12px;
    #{&}-section {
        padding-right: 0.7rem;
    }
}

#error {
    padding: 1rem;
    color: red;
    font-size: 15px;
    display: none;
}

#error2 {
    @extend #error;
}

 /* ------------------- Darmanito Membership --------------------- */

.membership {
    padding: 2rem 10rem;
}
.membership-main {
    display: flex;
    box-shadow: 0px 0px 10px #7cc6e6;
    border-radius: 12px;
}
.membership-main-img {
    width: 50%;
}
.membership-doctor-img {
    width: 400px;
    padding: 4rem 2rem 0rem 2rem;
}
.membership-text {
    width: 65%;
    padding-top: 2rem;
}
.membership-text-title {
    direction: rtl;
    display: flex;
    border-right: $border-right-2;
    width: 85%;
    margin: 0 auto;
    padding-right: 0.8rem;
    border-radius: 3px;
    color: $secoundary-color;
    text-underline-position: under;
}
.membership-text-title a {
    text-decoration: none;
    color: $secoundary-color;
}
.membership-text-p {
    direction: rtl;
    padding: 3rem;
}
.membership-form-send {
    display: flex;
    justify-content: center;
    padding: 0rem 2rem;
    direction: rtl;
    & button {
        border: none;
        background-color: white;
        padding: 1rem;
        border-radius: 15px 0px 0px 15px;
        background-color: rgb(224, 224, 224);
        width: 45%;
        & p {
            background-color: $primary-color;
            color: white;
            padding: 0.7rem 2rem;
            font-size: 15px;
            border-radius: 15px;
            cursor: pointer;
            & :focus {
                outline: 0;
            }
        }
    }
}
.membership-form-send input {
    width: 82%;
    padding: 0.7rem;
    border: none;
    border-radius: 0px 15px 15px 0px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(224, 224, 224);

}
::placeholder {
    font-size: 15px;
}
.membership-form-send input:focus {
    outline: 0;
}

/* ------- (Index1) Darmanito membership ------- */

.col-6-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    direction: rtl;
    margin: auto;
    padding: 0rem 2rem;
} 
.col-6-send {
    display: flex;
    justify-content: center;
    padding-top: 2rem;  
}
.col-6-send input {
    width: 82%;
    padding: 0.7rem;
    border: none;
    border-radius: 0px 15px 15px 0px;
    text-align: center;
    font-size: 20px;
}
::placeholder {
    font-size: 15px;
}
.col-6-send input:focus {
    outline: 0;
}
.col-6-send button {
    border: none;
    background-color: white;
    padding: 1rem;
    border-radius: 15px 0px 0px 15px;
}
.col-6-send button h4 {
    background-color: $primary-color;
    color: white;
    padding: 0.7rem 2rem;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
}
.col-6-send button:focus {
    outline: 0;
}

/* ------------------- Darmanito Questions --------------------- */

.question-actived {

    border-radius: 25px;
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 0px 8px #a3daf1;
    border: none;
    padding: 2rem 3rem;
}
.coming-soon {
    color: white;
    background-color: #0d6ec2;
    padding: 0.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-item-align: center;
    align-self: center;
    border-radius: 15px;
}
.card-img {
    padding-top: 1rem;
}

/* ------------------- Darmanito Contact-us --------------------- */

.txt {
    position: relative;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 1rem;
    top: 326px;
    left: 0px;
    border-radius: 20px;
  }

/* ------------------- Darmanito Footer --------------------- */

.cover {
    background-color: $primary-color;
    padding: 2rem 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    #{&}-contact li p {
        background: rgb(0, 0, 180);
        color: white;
        padding: 1rem;
        border-radius: 15px;
    }
    & ul {
        list-style: none;
    }
}

.cover-s {
    background-color: $primary-color;
    padding: 2rem 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cover-contact li p {
    background: rgb(0, 0, 180);
    color: white;
    padding: 1rem;
    border-radius: 15px;
}
.cover-s ul {
    list-style: none;
}

.ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    color: white;
}

.ul-li {
    padding-right: 1.5rem;
}

.footer-main {
    padding: 4rem 10rem;
    display: flex;
    justify-content: space-between;
}
.footer-main-link {
    text-decoration: none;
    color: $secoundary-color;
 }
 .footer-main-title {
    display: flex;
    justify-content: center;
}
.footer-main-s {
    padding: 4rem 10rem;
    display: flex;
    justify-content: space-between;
}
.footer-main-link {
    text-decoration: none;
    color: $secoundary-color;
}

.footer-main-link-title {
    display: flex;
    justify-content: center;
}

.footer-ul {
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.footer-ul ul {
    list-style-type: none;
    text-align: end;
}

.footer-ul ul li {
    padding-top: 1rem;
}

.footer-ul ul li a {
    text-decoration: none;
    color: gray;
}

.footer-li-a-style {
    border-right: $border-right-4;
    padding-right: 0.8rem;
}
.footer-li-a-color {
    color: $secoundary-color; 
}

.link-actived {
    color: $secoundary-color;
    border-right: $border-right-2;
    padding-right: 0.5rem;
}
.link-disabled {
    color: gray;
}

.footer-contact-us {
    width: 30%;
}
.footer-contact-us h4 {
    direction: rtl;
    padding-top: 1rem;
}

.footer-contact-us p {
    direction: rtl;
    padding-top: 1rem;
}

.footer-contact-us .section {
    display: flex;
    justify-content: flex-end;
}

.footer-contact-us .section p {
    direction: rtl;
    padding-right: 0.5rem;
}

.first {
    font-weight: 900;
    font-size: 22px;
}

.second {
    padding-top: 0.7rem;
}

.link-section {
    display: flex;
    justify-content: flex-end;
}

.link-section a {
    padding: 0.5rem;
    color: gray;
}

.link-footer-actived {
    color: $secoundary-color;
}

.link-section a i {
    font-size: 25px;
}

.footer-brand {
    width: 15%;
}

.footer-link-download {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}

.footer-link-download a {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 0.4rem 1rem;
    border-radius: 9px
}

.footer-sibapp {
    direction: rtl;
    display: flex;
    margin-right: 1rem;
}

.footer-bazzar {
    direction: rtl;
    display: flex;
}
.footer-bazzar p,
.footer-bazzar img {
    padding-right: 0.5rem;
}

.footer-sibapp p {
    font-size: 12px;
}

.footer-sibapp-section {
    padding-right: 0.7rem;
}
.footer-h3 {
    font-size: 1.5rem;
}
