@font-face {
    src: url("../fonts/Yekan.ttf");
    font-family: Yekan;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    src: url("../fonts/Yekan.ttf");
    font-family: Yekan;
}

 /* ------------------- Header --------------------- */

 h1 {
    color: #0061b6;
 }

.container1 {
    font-size: x-large;
}

.header {
    display: flex;
    direction: rtl;
    padding-block-start: 4rem;
    padding-inline-start: 5rem;
    padding-block-end: 5rem;
    padding-inline-end: 5rem;
}

.header-items {
    margin: auto;
}

.header-list {
    list-style: none;
    display: inline-block;
    padding: 0rem 2rem;
}

.header-list-link {
    text-decoration: none;
    color: #0061b6;
    font-size: 20px;
    padding-right: 1rem;
}
.header-button {
    background-color: #E6F3FF;
    border: none;
    color: #1894FF;
    padding: 13px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}


 /* ------------------- Darmanito Application  --------------------- */

.padding {
    PADDING: 12rem 7rem;
}
.padding1 {
    padding-top: 8rem;
}
.text-align {
    text-align: right;
}
.border1 {
    box-shadow: 0px 0px 8px #a3daf1;
    border-radius: 2rem;
}
.padding2 {
    padding-left: 22rem;
    padding-bottom: 2rem;
}
.padding3 {
    padding-left: 25rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
}
.padding4 {
    padding-right: 11rem;
    padding-left: 10rem;
    padding-bottom: 2rem;
}
.font-size1 {
    font-size: 11px;
}
.font-size2 {
    font-size: 15px;
}
.pic-size {
   
}
.human {
    float: right;
    padding-left: 9px;
}
.border-none {
    border: none;
}
.padding-left {
    padding-left: 23.5rem;
}
.padding-left1 {
    padding-left: 15rem;
    padding-right: 10rem;
}
.padding-left2 {
    padding-left: 2rem;
    padding-right: 23rem;
    padding-top: 0rem;
}
 .app-img {
    float: left;    
    padding-left: 12rem;
 }

 .center-item {
    height: auto;
 }
 .app-text {
    direction: rtl;
    padding-inline-start: 20rem;
    padding-block-start: 8rem;
 }
 
 .app-text1 {
    direction: rtl;
    padding-inline-start: 20rem;
    padding-block-start: 2rem;
 }

 .link {
    text-decoration: none;
    color: #0061b6;
 }

 .p {
    font-size: 1rem;
 }

 .app-button {
    background-color: #1894FF;
    border: none;
    color: white;
    padding: 13px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
 }

 .app-button-withoutcolor {
    background-color: white;
    border-color: #c2daff;
    border-style: double;
    color: #1894FF;
    padding: 13px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
 }
  /* ------------------- Darmanito About --------------------- */
 .padding-darmanito {
    padding-right: 8rem;
    padding-top: 5rem;
 }
 .max-inline-size {
    max-inline-size: fit-content;
 }
 .padding-top {
    padding-top: 5rem;
    padding-bottom: 8rem;
}
.text-align-center-margin {    
    text-align: center;
    margin: 0rem 5rem;
}
.text-align-center {
    text-align: center;
}
.color-white {
    color: white;
}
.margin-betwin1 {
    margin-inline-end: 15rem;
}
.padding5 {
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.about {
    display: inline-flex;
    padding-top: 10rem;
    padding-right: 15rem;
}

.text {
    direction: rtl;
    padding-top: 5rem;
    padding-right: 12rem;
}

.about-title {
    border-right: 4px solid #05FEA3;
    padding-right: 0.8rem;
    border-radius: 6px;
    color: #0061b6;
    direction: rtl;
    padding-right: 1rem;
}

.p1 {
    width: 80%;
    line-height: 30px;  
}

.about-item {
    display: inline-flex;
    padding-top: 3rem;
    flex-flow: column;
    align-items: center;
    background-color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

 /* ------------------- Darmanito Possibilities --------------------- */

 .possibilities {
    padding: 5rem 10rem;
    direction: rtl;
}

.possibilities-title {
    color: #0061b6;
    border-right: 4px solid #05FEA3;
    padding-right: 0.8rem;
}

.possibilities-base {
    display: flex;
    padding-top: 2rem;
}

.possibilities-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.possibilities-items {
    justify-content: center;
    display: flex;
}

.possibilities-button,
.actived {
    width: 100%;
    border-radius: 25px;
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 0px 8px #a3daf1;
    border: none;
    padding: 2rem 3rem;
}

.disable {
    box-shadow: 0px 0px 8px gray;
    color: gray;
    opacity: 0.5;
}

.possibilities-button:focus {
    outline: 0;
}

.possibilities-button h3 {
    padding-top: 0.5rem;
}

.img {
    width: 60px;
}

.possibilities-text {
    padding-right: 7rem;
}

.text-ex {
    width: 72%;
    line-height: 40px;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.steps {
    display: flex;
    align-items: center;
}

.steps-img {
    width: 5%;
    padding: 0.5rem;
    background-color: #c7e8f7;
    border-radius: 30px;
}

.text-steps {
    padding-right: 1rem;
}

.steps-ex {
    width: 95.5%;
    margin: 0 auto;
    border-right: 1px solid gray;
    padding: 1rem 3rem;
}

.steps-img-check {
    width: 5%;
    padding: 0.5rem;
    background-color: #05FEA3;
    border-radius: 30px;
}

.steps-ex-check {
    width: 95.5%;
    margin: 0 auto;
    padding: 1rem 3rem;
}

 /* ------------------- Darmanito Application Download --------------------- */

.h1 {
    color: white;
}
 .app-download {
    background-color: #1091ff;
    display: flex;
    position: relative;
    margin-bottom: 2rem;
}

.pic {
    width: 50%;
}

.pic img {
    width: 40%;
    margin: 0 auto;
    display: flex;
    padding-top: 2rem;
    border-radius: 45px 45px 0px 0px;
}

.number {
    width: 50%;
    display: flex;
    flex-flow: column;
    direction: rtl;
    padding: 6rem 5rem;
    color: white;
}

.number-h3 {
    padding-top: 3rem;
}

.send {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.send input {
    width: 82%;
    padding: 0.7rem;
    border: none;
    border-radius: 0px 15px 15px 0px;
    text-align: center;
    font-size: 20px;
}

 ::placeholder {
    font-size: 15px;
}

.send input:focus {
    outline: 0;
}

.send button {
    border: none;
    background-color: white;
    padding: 1rem;
    border-radius: 15px 0px 0px 15px;
}

.send button h4 {
    background-color: #1091ff;
    color: white;
    padding: 0.7rem 2rem;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
}

.send button:focus {
    outline: 0;
}

.download-link {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}

.download-link a {
    display: flex;
    align-items: center;
    background-color: #2162b7;
    color: white;
    text-decoration: none;
    padding: 0.4rem 1rem;
    border-radius: 9px
}

.android p {
    padding-right: 1rem;
}

.bazzar p,
.bazzar img {
    padding-right: 0.5rem;
}

.sibapp p {
    font-size: 12px;
}

.sibapp-section {
    padding-right: 0.7rem;
}

#error {
    padding: 1rem;
    color: red;
    font-size: 15px;
    display: none;
}

#error2 {
    padding: 1rem;
    color: red;
    font-size: 15px;
    display: none;
}

 /* ------------------- Darmanito Membership --------------------- */

.membership {
    padding: 2rem 10rem;
}

.membership-base {
    display: flex;
    box-shadow: 0px 0px 10px #7cc6e6;
    border-radius: 12px;
}

.membership-img {
    width: 50%;
}

.membership-text {
    width: 65%;
    padding-top: 2rem;
}

.membership-doctor-img {
    width: 400px;
    padding: 4rem 2rem 0rem 2rem;
}

.membership-title {
    direction: rtl;
    display: flex;
    border-right: 2px solid #05FEA3;
    width: 85%;
    margin: 0 auto;
    padding-right: 0.8rem;
    border-radius: 3px;
    color: #0061b6;
    text-underline-position: under;
}


.membership-p {
    direction: rtl;
    padding: 3rem;
}

.membership-form-send {
    display: flex;
    justify-content: center;
    padding: 0rem 2rem;
    direction: rtl;
}

.membership-form-send input {
    width: 82%;
    padding: 0.7rem;
    border: none;
    border-radius: 0px 15px 15px 0px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(224, 224, 224);
}

 ::placeholder {
    font-size: 15px;
}

.membership-form-send input:focus {
    outline: 0;
}

.membership-form-send button {
    border: none;
    background-color: white;
    padding: 1rem;
    border-radius: 15px 0px 0px 15px;
    background-color: rgb(224, 224, 224);
    width: 45%;
}

.membership-form-send button p {
    background-color: #1091ff;
    color: white;
    padding: 0.7rem 2rem;
    font-size: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.membership-form-send button:focus {
    outline: 0;
}

/* ------------------- Darmanito Footer --------------------- */

.cover {
    background-color: #1091ff;
    padding: 2rem 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cover ul {
    list-style: none;
}

.ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    color: white;
}

.ul-li {
    padding-right: 1.5rem;
}

.contact li p {
    background: rgb(0, 0, 180);
    color: white;
    padding: 1rem;
    border-radius: 15px;
}

.footer-base {
    padding: 4rem 10rem;
    display: flex;
    justify-content: space-between;
}

.footer-ul {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.footer-ul ul {
    list-style-type: none;
    text-align: end;
}

.footer-ul ul li {
    padding-top: 1rem;
}

.footer-ul ul li a {
    text-decoration: none;
    color: gray;
}

.link-actived {
    color: #0061b6;
    border-right: 2px solid #05FEA3;
    padding-right: 0.5rem;
}

.link-disabled {
    color: gray;
}

.contact-us {
    width: 30%;
}

.contact-us h4 {
    direction: rtl;
    padding-top: 1rem;
}

.contact-us p {
    direction: rtl;
    padding-top: 1rem;
}

.contact-us .section {
    display: flex;
    justify-content: flex-end;
}

.contact-us .section p {
    direction: rtl;
    padding-right: 0.5rem;
}

.first {
    font-weight: 900;
    font-size: 22px;
}

.second {
    padding-top: 0.7rem;
}

.link-section {
    display: flex;
    justify-content: flex-end;
}

.link-section a {
    padding: 0.5rem;
    color: gray;
}

.link-footer-actived {
    color: #0061b6;
}

.link-section a i {
    font-size: 25px;
}

.footer-brand {
    width: 15%;
}

.footer-link {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}

.footer-link a {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 0.4rem 1rem;
    border-radius: 9px
}

.footer-sibapp {
    direction: rtl;
    display: flex;
    margin-right: 1rem;
}

.footer-bazzar {
    direction: rtl;
    display: flex;
}

.footer-bazzar p,
.footer-bazzar img {
    padding-right: 0.5rem;
}

.footer-sibapp p {
    font-size: 12px;
}

.footer-sibapp-section {
    padding-right: 0.7rem;
}

.link-title {
    display: flex;
    justify-content: center;
}

/* ------------------- Responsive --------------------- */

@media(min-width:1385px) and (max-width:1500px) {

    .app-text {
        padding-inline-start: 8rem;
    }
    .app-text1 {
        padding-inline-start: 8rem;
    }
    .app-img {
        padding-left: 9rem;
    }
    .about {
        padding-right: 5rem;
    }
    .text {
        padding-right: 6rem;
    }
    .possibilities-container {
        height: fit-content;
    }
}

@media(min-width:1200px) and (max-width:1385px) {
    
    .app-text {
        padding-inline-start: 5rem;
    }
    .app-text1 {
        padding-inline-start: 5rem;
    }
    .app-img {
        padding-left: 6rem;
    }
    .about {
        padding-right: 5rem;
    }
    .text {
        padding-right: 4rem;
    }
    .possibilities {
        padding: 5rem 5rem; 
    }
    .possibilities-container {
        height: fit-content;
    }
    .footer-base {
        padding: 4rem 3rem;
    }
}

@media(min-width:1000px) and (max-width:1200px) {
    
    .header {
        padding-inline-start: 2rem;
        padding-inline-end: 2rem;
    }
    .header-list {
        list-style: none;
        display: contents;;
    }
    .app-text {
        padding-inline-start: 4rem;
    }
    .app-text1 {
        padding-inline-start: 4rem;
    }
    .app-img {
        padding: 0rem;
    }
    .about {
        padding-right: 4rem;
    }
    .text {
        padding-right: 4rem;
    }
    .possibilities {
        padding: 5rem 2rem; 
    }
    .possibilities-container {
        height: fit-content;
    }
    .possibilities-text {
        padding-right: 3rem;
    }
    .number {
        padding: 0rem 0rem;
    }
    .pic {
        width: 45%;
    }
    .membership {
        padding: 2rem 1rem;
    }
    .cover {
        padding: 2rem 2rem;
    }
    .footer-base {
        padding: 4rem 1rem;
    }
}
@media(max-width:600px) {
    .cover {
        flex-direction: column-reverse;
        padding: inherit;
    }
    
    .ul {
        flex-direction: column-reverse;
        padding-bottom: 2rem;
    }
    .link {
        display: none;
    }
    .footer-ul {
        display: none;
    }
    
    .contact-us {
        width: 100%;
    }
    .link-section {
        padding-top: 2rem;
        position: absolute;
    }
    .cover ul {
        padding-bottom: 1rem;
    }
    .footer-base {
        padding: 4rem 2rem;
    }
    .membership-img{
        display: none;
    }
    .membership-doctor-img2 {
        display: block;
        width: 400px;
        padding: 4rem 2rem 0rem 2rem;
    }
    .download-link {
        display: revert;
        padding: 0rem 7rem;
    }
    .pic2 {
        width: 100%;
    }
    .membership {
        padding: 0rem 0rem;
    }
    .membership-text {
        width: 100%;
        padding-top: 2rem;
    }
    .membership-form-send {
        padding: 0rem 1rem 1rem 1rem;
    }
    .pic{
        display: none;
    }
    .pic2 img {
        width: 50%;
        margin: 0 auto;
        display: flex;
        padding-top: 2rem;
        border-radius: 45px 45px 0px 0px;
    }
    
    .number {
        width: 422px;
        padding: 0rem 0rem
    }
    .number-h3 {
        padding: 1rem 2rem 0rem 2rem;
    }
    .send {
        padding: 0rem 2rem 1rem 2rem;
    }
    
    .h1{
        padding: 1rem 2rem 1rem 2rem;
    }
    .download-link a {
        margin-bottom: 10px;
    }
    .possibilities {
        padding: 1rem!important;
        direction: rtl; 
    }
    .possibilities-text {
        padding-right: 0rem;
        padding-top: 2rem;
    }
    .possibilities-base {
        display: block;
        padding-top: 2rem;
    }
    .app-img{
        padding-left: 0px!important;
    }
    .header-items{
        display: none;
    }
    .header-logo{
        margin-right: -3.2rem;
    }
    .burger{
        display: block;
        margin-right: auto;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      
      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }
      .app-text {
        text-align: center;
        direction: rtl; 
        padding-inline-start: 0rem; 
        padding-block-start: 0rem;
      }
      .app-text1 {
        /* direction: rtl; */
        padding-inline-start: 0rem;
        padding-block-start: 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        row-gap: 10px;
    }
    .about {
        display: inline-flex;
        padding-top: 0rem;
        padding-right: 1rem;
    }
    .p1 {
        width: 100%;
        line-height: 30px;
    }
    .text {
        direction: rtl;
        padding-top: 5rem;
        padding-right: 0rem;
    }
    .imgResponsive{
        display: block;
        padding: 6%;
    }
    .aboutImg{
        display: none;
    }
}
    @media(min-width:600px) {
        .membership-img{
            display: block;
        }
        .membership-doctor-img2 {
            display: none;
        }
        .pic2 {
            display: none;
        }
        .pic {
            display: flex;
        }
        .aboutImg{
            display: block;
        }
        .imgResponsive{
            display: none;
        }
        .sidenav{
            display: none;
        }
        .burger{
            display: none;
        }
    }
    .burger div {
        width: 25px;
        height: 2px;
        background-color: #1894FF;
        margin: 5px;
        transition: all 0.3s ease;
    }
    @media(min-width:600px) and (max-width:1000px) {
    
        .header {
            padding-inline-start: 2rem;
            padding-inline-end: 2rem;
        }
        .header-list {
            list-style: none;
            display: contents;;
        }
        .app-text {
            padding-inline-start: 4rem;
        }
        .app-text1 {
            padding-inline-start: 4rem;
        }
        .app-img {
            padding-left: 3rem;
        }
        .about {
            padding-right: 4rem;
        }
        .text {
            padding-right: 4rem;
        }
        .possibilities {
            padding: 5rem 2rem; 
        }
        .possibilities-container {
            height: fit-content;
        }
        .possibilities-text {
            padding-right: 3rem;
        }
        .number {
            padding: 2rem 0rem;
        }
        .pic {
            width: 45%;
        }
        .membership {
            padding: 2rem 1rem;
        }
        .cover {
            padding: 2rem 2rem;
        }
        .footer-base {
            padding: 4rem 1rem;
        }
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(241, 241, 241);
        
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #0061b6;;
        display: block;
        transition: 0.3s;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 80%;
        font-size: 36px;
        margin-left: 50px;
      }
      
      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }
