@import "../Lib/vars";



/* ------------------- Responsive --------------------- */

@media(min-width:1075px) and (max-width:1512px) {
    // .center-item {
    //     display: inline-block;
    // }
    .display-flex {
        display: block;
    }
    .display-flex1 {
        display: block;
    }
    .width-52-1 {
        width: 80%;
    }
    .width-20 {
        width: 20rem;
    }
    // .header-ul {
    //     display: flex;
    // }
    // .header-button {
    //     padding: 13px 27px;
    // }
     
    // .padding-darmanito {
    //     padding-right: 3rem;
    //     padding-top: 5rem;
    // }
    .Drug-name {
        padding-right: 5rem;
    }
}
@media(min-width:805px) and (max-width:1075px) {
    
    .burger-main {
        text-align: right;
    }
    .col-6-container {
        padding: 6rem 0rem;
    }
    .display-inline-block {
        display:inline-block;
        margin: auto;
    }
    .padding {
        margin: auto;
        padding: 5rem 0rem;
        padding-block-end: 7rem;
        padding-block-start: 1rem;
     }
    .display-flex {
        display: none;
    }
    .display-flex1 {
        display: none;
    }
    .width-52-1 {
        width: 100%;
    }
    .Drug-name {
        padding-right: 5rem;
    }
}
@media(min-width:605px) and (max-width:805px) {
    
    .burger-main {
        text-align: right;
    }
    .col-6-container {
        margin-left: 11em;
        padding: 0rem 0rem;
        padding-block-start: 5rem;
    }
    .display-inline-block {
        display:inline-block;
        margin: auto;
    }
    .padding {
        margin: auto;
        padding: 0rem 0rem;
        padding-block-end: 5rem;
        padding-block-start: 3rem;
     }
    .display-flex {
        display: none;
    }
    .display-flex1 {
        display: none;
    }
    .width-52-1 {
        width: 122%;
    }
    .Drug-name {
        padding-right: 0rem;
    }
}
@media(min-width:500px) and (max-width:605px) {
    
    .burger-main {
        text-align: right;
    }
    .col-6-container {
        padding: 0rem 0rem;
        padding-block-start: 5rem;
        margin-left: 11em;
    }
    .display-inline-block {
        display:inline-block;
        margin: auto;
    }
    .padding {
        margin: auto;
        padding: 0rem 0rem;
        padding-block-end: 5rem;
        padding-block-start: 3rem;
     }
    .display-flex {
        display: none;
    }
    .display-flex1 {
        display: none;
    }
    .width-52-1 {
        width: 140%;
    }
    .width-100 {
        width: 103%;
    }
    .Drug-name {
        padding-right: 0rem;
    }
    .padding-darmanito {
        padding-right: 3rem;
    }
    .font-size{
        font-size: 26px;
    }
    h5 {
        font-size: 15px;
    }
    .col-6-send {
        flex-flow: column-reverse;
    }
    .col-6-send input {
        width: 110%;
    }
}
@media(min-width:0px) and (max-width:500px) {
    
    .burger-main {
        text-align: right;
    }
    .col-6-container {
        padding: 0rem 0rem;
        padding-block-start: 5rem;
        margin-left: 11em;
    }
    .display-inline-block {
        display:inline-block;
        margin: auto;
    }
    .padding {
        margin: auto;
        padding: 0rem 0rem;
        padding-block-end: 5rem;
        padding-block-start: 3rem;
     }
    .display-flex {
        display: none;
    }
    .display-flex1 {
        display: none;
    }
    .width-52-1 {
        width: 160%;
    }
    .width-100 {
        width: 120%;
    }
    .Drug-name {
        padding-right: 0rem;
    }
    .padding-darmanito {
        padding-right: 3rem;
    }
    .font-size{
        font-size: 26px;
    }
    h5 {
        font-size: 15px;
    }
    .col-6-send {
        flex-flow: column-reverse;
    }
    .col-6-send input {
        width: 110%;
    }
}

@media(min-width:1385px) and (max-width:1500px) {

    .app-text {
        padding-inline-start: 8rem;
    }
    .app-button-text {
        padding-inline-start: 8rem;
    }
    .app-img {
        padding-left: 9rem;
    }
    .about {
        padding-right: 5rem;
    }
    .text {
        padding-right: 6rem;
    }
    .possibilities-container {
        height: fit-content;
    }
}


@media(min-width:1200px) and (max-width:1400px) {
    
    .footer-main {
        padding: 4rem 3rem;
    }
    .app-text {
        padding-inline-start: 5rem;
    }
    .app-button {
        padding-inline-start: 5rem;
    }
   .cover {
    padding: 2rem 4rem;
   }
    .app-img {
        padding-left: 6rem;
    }
    .app-phone-number {
        padding: 4rem 3rem;
    }
    .app-phone-number-h1 {
        padding-top: 2.5rem;
    }
    .app-phone-number-h3 {
        padding-top: 1rem;
    }
    .membership {
        padding: 2rem 6rem;
    }
    .about {
        padding-right: 5rem;
    }
    .text {
        padding-right: 4rem;
    }
    .possibilities {
        padding: 5rem 5rem; 
    }
    .possibilities-container {
        height: fit-content;
    }
    .footer-base {
        padding: 4rem 3rem;
    }
}
@media (min-width: 1200px) and (max-width : 1250px) {
    .app-phone-number {
        padding: 4rem 2rem;
    }
}

@media(min-width:1100px) and (max-width:1199px) {
    
    .header-main {
        padding-inline-start: 2rem;
        padding-inline-end: 2rem;
    }
    .header-li {
        list-style: none;
    }
    .app-text {
        padding-inline-start: 5rem;
    }
    .app-button {
        padding-inline-start: 5rem;
    }
    .about {
        padding-right: 1rem;
    }
    .about-images {
        padding-right: 1rem;
    }
    .about-text {
        padding-right: 4rem;
    }
    .text {
        padding-right: 4rem;
    }
    .possibilities {
        padding: 5rem 2rem; 
    }
    .possibilities-container {
        height: fit-content;
    }
    .possibilities-text {
        padding-right: 3rem;
    }
    .app-phone-number {
        padding: 0rem 0rem;
    }
    .app-download-img {
        width: 45%;
    }
    .app-phone-number-h1 {
        padding-top: 3rem;
    }
    .app-phone-number-h3 {
        padding-top: 0rem;
    }
    .membership {
        padding: 2rem 2rem;
    }
    .cover {
        padding: 2rem 2rem;
    }
    .footer-main {
        padding: 4rem 2rem;
    }
}

@media(max-width:1100px) {
    
    .footer-main {
        padding:4rem 2rem;  
    }
    .about {
        padding-right: 1rem;
    }
    .about-images {
        padding-right: 0rem;
    }
    .about-text {
        padding-right: 3rem;
    }
    .app-img {
        padding-left: 5rem;
    }
    .possibilities {
        padding: 12rem 2rem;
    }
    .possibilities-text {
        padding-right: 5rem; 
    }
    .app-download-img img{
        width: 55%;
    }
    .app-phone-number {
        width: 58%;
        padding: 6rem 2rem;
        
    }
    .membership {
        padding: 2rem 2rem;
    }
    .cover {
        padding: 2rem 5rem;
    }
    
    
}

    @media(min-width:1075px) {
        
        .header-main {
            padding-inline-start: 2rem;
            padding-inline-end: 2rem;
        }
        .membership-main-img{
            display: block;
        }
        .membership-doctor-img-responsive {
            display: none;
        }
        .app-download-mobile-img {
            display: none;
        }
        .app-download-img {
            display: flex;
        }
        
        .about-img{
            display: block;
        }
        .imgResponsive{
            display: none;
        }
        .burger-nav{
            display: none;
        }
        .burger{
            display: none;
        }
        
    }
    .burger div {
        width: 25px;
        height: 2px;
        background-color: #1894FF;
        margin: 5px;
        transition: all 0.3s ease;
    }
    @media(min-width:1000px) and (max-width:1074px) {
    
        .closebtn {
        float: left;
        padding-left: 6rem;
      }
      .header-main {
        padding-inline-start: 2rem;
        padding-inline-end: 2rem;
    }
    .app {
        display : grid ;
    }
    .app-img {
        margin: auto;
        float: none;
        padding-left: 0rem;
    }
    .app-text {
        margin: auto;
        padding-top: 5rem;
        padding-inline-start: 0rem;
    }
    .app-button {
        padding-inline-start: 0rem;
        margin: auto;
    }
    .about {
        display: inline-flex;
        padding: 0rem;
    }
    .about-img{
        display: none;
    }   
    .imgResponsive {
        margin: auto;
        display: block;
        padding-block-start: 10rem;
        padding-block-end: 5rem;
    }
    .about-text {
        padding: 0rem;
        margin: auto;

    }
    .possibilities {
        padding: 12rem 2rem ;
    }
    .possibilities-main {
        display: block;
    }
    .possibilities-main-container {
        display: -webkit-box;
        padding-block-end: 4rem;
    }
    .possibilities-img {
        width: 85px;
    }
    .possibilities-text {
        margin: auto;
    }
    .img {
        width: 70px;
    }
    .app-download {
        display: flex;
        flex-direction: column-reverse;
    }
    .app-phone-number {
        width: 72%;
        margin: auto;
        direction: rtl;
    }
    .app-download-img {
        width: 100%;
        margin: auto;
    }
    .membership {
        padding: 12rem 4rem;
    }
    .membership-main {
        display: block;
        margin: auto;
    }
    .membership-main-img {
        margin: auto;
    }
    .membership-text {
        width:auto;
        padding: 5rem;
    }
    .membership-doctor-img {
        width: none;
    }
    .footer-brand {
        width: 7%;
    }

}
@media(min-width:760px) and (max-width:1000px) {
    
    
    .closebtn {
        float: left;
        padding-left: 6rem;
    }
    .header-main {
        padding-inline-start: 2rem;
        padding-inline-end: 2rem;
    }
    .app {
        display : grid ;
    }
    .app-img {
        margin: auto;
        float: none;
        padding-left: 0rem;
    }
    .app-text {
        margin: auto;
        padding-top: 5rem;
        padding-inline-start: 0rem;
    }
    .app-button {
        padding-inline-start: 0rem;
        margin: auto;
    }
    .about {
        display: inline-flex;
        padding: 0rem;
    }
    .about-img{
        display: none;
    }   
    .imgResponsive {
        margin: auto;
        display: block;
        padding-block-start: 10rem;
        padding-block-end: 5rem;
    }
    .about-section {
        padding-right: 3rem;
    }
    .about-text {
        padding: 0rem;
        margin: auto;

    }
    .about-images {
        display: none;
    }
    .possibilities {
        padding: 12rem 2rem ;
    }
    .possibilities-main {
        display: block;
    }
    .possibilities-main-container {
        display: -webkit-box;
        padding-block-end: 4rem;
    }
    .possibilities-img {
        width: 85px;
    }
    .possibilities-text {
        margin: auto;
    }
    .img {
        width: 70px;
    }
    .app-download {
        display: flex;
        flex-direction: column-reverse;
    }
    .app-phone-number {
        width: 79%;
        margin: auto;
        direction: rtl;
    }
    .app-download-img {
        width: 100%;
        margin: auto;
    }
    .membership {
        padding: 12rem 4rem;
    }
    .membership-main {
        display: block;
        margin: auto;
    }
    .membership-main-img {
        margin: auto;
    }
    .membership-text {
        width:auto;
        padding: 2rem;
    }
    .membership-doctor-img {
        width: none;
    }
    .cover {
        padding: 2rem 1rem;
    }
    .footer-brand {
        width: 7%;
    }

}
@media(min-width:650px) and (max-width:760px) {
    
    .closebtn {
        float: left;
        padding-left: 6rem;
    }
    .header-main {
        padding-inline-start: 2rem;
        padding-inline-end: 2rem;
    }
    .app {
        display : grid ;
    }
    .app-img {
        margin: auto;
        float: none;
        padding-left: 0rem;
    }
    .app-text {
        margin: auto;
        padding-top: 5rem;
        padding-inline-start: 0rem;
    }
    .app-button {
        padding-inline-start: 0rem;
        margin: auto;
    }
    .about {
        display: inline-flex;
        padding: 0rem;
    }
    .about-img{
        display: none;
    }   
    .imgResponsive {
        margin: auto;
        display: block;
        padding-block-start: 10rem;
        padding-block-end: 5rem;
    }
    .about-section {
        padding-right: 3rem;
    }
    .about-text {
        padding: 0rem;
        margin: auto;

    }
    .about-images {
        display: none;
    }
    .possibilities {
        padding: 12rem 2rem ;
    }
    .possibilities-main {
        display: block;
        overflow: hidden;
    }
    .possibilities-main-container {
        display: -webkit-box;
        padding-block-end: 4rem;
    }
    .possibilities-img {
        width: 85px;
    }
    .possibilities-text {
        margin: auto;
        padding-right: 1rem;
    }
    .img {
        width: 70px;
    }
    .app-download {
        display: flex;
        flex-direction: column-reverse;
    }
    .app-phone-number {
        width: 100%;
        margin: auto;
        direction: rtl;
    }
    .app-download-img {
        width: 100%;
        margin: auto;
    }
    .membership {
        padding: 12rem 2rem;
    }
    .membership-main {
        display: block;
        margin: auto;
    }
    .membership-main-img {
        margin: auto;
    }
    .membership-text {
        width:auto;
        padding: 2rem;
    }
    .membership-doctor-img {
        width: none;
        width: 350px;
        padding: 4rem 3rem 0rem 0rem;
    }
    .cover {
        padding: 2rem 1rem;
    }
    .footer-brand {
        width: 7%;
    }
    .android {
        display: none;
    }

}
@media(min-width:500px) and (max-width:650px) {
    
    .closebtn {
        float: left;
        padding-left: 6rem;
    }
    .header-main {
        padding-inline-start: 2rem;
        padding-inline-end: 2rem;
    }
    .app {
        display : grid ;
    }
    .app-img {
        margin: auto;
        float: none;
        padding-left: 0rem;
    }
    .app-text {
        margin: auto;
        padding-top: 5rem;
        padding-inline-start: 0rem;
    }
    .app-button {
        padding-inline-start: 0rem;
        margin: auto;
    }
    .about {
        display: inline-flex;
        padding: 0rem;
    }
    .about-img{
        display: none;
    }   
    .imgResponsive {
        margin: auto;
        display: block;
        padding-block-start: 10rem;
        padding-block-end: 5rem;
    }
    .about-section {
        padding-right: 3rem;
    }
    .about-text {
        padding: 0rem;
        margin: auto;

    }
    .about-images {
        display: none;
    }
    .possibilities {
        padding: 12rem 2rem ;
    }
    .possibilities-main {
        display: block;
        overflow: hidden;
    }
    .possibilities-main-container {
        display: -webkit-box;
        padding-block-end: 4rem;
    }
    .possibilities-img {
        width: 85px;
    }
    .possibilities-text {
        margin: auto;
        padding-right: 1rem;
    }
    .img {
        width: 70px;
    }
    .app-download {
        display: flex;
        flex-direction: column-reverse;
    }
    .app-phone-number {
        width: 100%;
        margin: auto;
        direction: rtl;
    }
    .app-download-img {
        width: 100%;
        margin: auto;
    }
    .membership {
        padding: 12rem 1rem;
    }
    .membership-main {
        display: block;
        margin: auto;
    }
    .membership-main-img {
        margin: auto;
    }
    .membership-text {
        width:auto;
        padding-block-start: 2rem;
        padding-block-end: 2rem;
    }
    .membership-doctor-img {
        width: none;
        width: 300px;
        padding: 4rem 4rem 0rem 0rem;
    }
    .cover {
        padding: 2rem 1rem;
        flex-flow: column-reverse;
    }
    .footer-brand {
        width: 13%;
    }
    .app-download-link > a.android {
        display: none;
    }
    .app-download-link {
        align-self: center;
    }

}
@media(min-width:400px) and (max-width:500px) {
    
    .closebtn {
        float: left;
        padding-left: 6rem;
    }
    .header-main {
        padding-inline-start: 2rem;
        padding-inline-end: 2rem;
    }
    .app {
        display : grid ;
    }
    .app-img {
        margin: auto;
        float: none;
        padding-left: 0rem;
    }
    .app-text {
        margin: auto;
        padding-top: 5rem;
        padding-inline-start: 0rem;
    }
    .app-button {
        padding-inline-start: 0rem;
        margin: auto;
    }
    .about {
        display: inline-flex;
        padding: 0rem;
    }
    .about-img{
        display: none;
    }   
    .imgResponsive {
        margin: auto;
        display: block;
        padding-block-start: 10rem;
        padding-block-end: 5rem;
    }
    .about-section {
        padding-right: 3rem;
    }
    .about-text {
        padding: 0rem;
        margin: auto;

    }
    .about-images {
        display: none;
    }
    .possibilities {
        padding: 12rem 2rem ;
    }
    .possibilities-main {
        display: block;
        overflow: hidden;
    }
    .possibilities-main-container {
        display: -webkit-box;
        padding-block-end: 4rem;
    }
    .possibilities-img {
        width: 85px;
    }
    .possibilities-text {
        margin: auto;
        padding-right: 1rem;
    }
    .img {
        width: 70px;
    }
    .app-download {
        display: flex;
        flex-direction: column-reverse;
    }
    .app-phone-number {
        width: 100%;
        margin: auto;
        direction: rtl;
        padding-right: 1rem;
        padding-left: 1rem;
    
    }
    .app-download-img {
        width: 100%;
        margin: auto;
    }
    .membership {
        padding: 12rem 1rem;
    }
    .membership-main {
        display: block;
        margin: auto;
    }
    .membership-main-img {
        margin: auto;
    }
    .membership-text {
        width:auto;
        padding-block-start: 2rem;
        padding-block-end: 2rem;
    }
    .membership-doctor-img {
        width: none;
        width: 300px;
        padding: 4rem 4rem 0rem 0rem;
    }
    .cover {
        padding: 2rem 0rem;
        flex-flow: column-reverse;
    }
    .footer-brand {
        width: 13%;
    }
    .app-download-link > a.android {
        display: none;
    }
    .app-download-link {
        align-self: center;
    }
    .membership-form-send {
        padding: 0rem 0rem;
    }

}

    @media(min-width:500px) and (max-width:800px) {
        .center-item {
            display: inline-block;
        }
        .display-flex {
            display: none;
        }
        .display-flex1 {
            display: none;
        }
        .width-52 {
            width: 104%;
        }
        .header-ul {
            display: flex;
        }
        .header-button {
            padding: 13px 27px;
        }
        .padding {
            PADDING: 7rem 0rem;
            margin: auto;
        }
        .padding-darmanito {
            padding-right: 3rem;
            padding-top: 5rem;
        }
        .col-61 {
            margin-left: auto;
            margin-right: 4rem;
        }
        .width-52 {
            width: 161%;
        }
        .link {
            display: none;
        }
        .card-disable1 {
            margin: 0rem;
        }
        .card-disable {
            margin: 0rem;
        }
        .card-activated {
            margin: 0rem 0rem;
        }
    }

    @media (min-width:0px)  and (max-width:400px) {
        .closebtn {
            float: left;
            padding-left: 6rem;
        }
        .header-main {
            padding-inline-start: 2rem;
            padding-inline-end: 2rem;
        }
        .app {
            display : grid ;
        }
        .app-img {
            margin: auto;
            float: none;
            padding-left: 0rem; 
        }
        .app-text {
            margin: auto;
            padding-top: 5rem;
            padding-inline-start: 0rem;
        }
        .app-button {
            padding-inline-start: 0rem;
            margin: auto;
        }
        .about {
            display: inline-flex;
            padding: 0rem;
        }
        .about-img{
            display: none;
        }   
        .imgResponsive {
            margin: auto;
            display: block;
            padding-block-start: 10rem;
            padding-block-end: 5rem;
        }
        .about-section {
            padding-right: 3rem;
        }
        .about-text {
            padding: 0rem;
            margin: auto;
    
        }
        .about-images {
            display: none;
        }
        .possibilities {
            padding: 12rem 2rem ;
        }
        .possibilities-main {
            display: block;
            overflow: hidden;
        }
        .possibilities-main-container {
            display: -webkit-box;
            padding-block-end: 4rem;
        }
        .possibilities-img {
            width: 85px;
        }
        .possibilities-text {
            margin: auto;
            padding-right: 1rem;
        }
        .img {
            width: 70px;
        }
        .app-download {
            display: flex;
            flex-direction: column-reverse;
        }
        .app-phone-number {
            width: 100%;
            margin: auto;
            direction: rtl;
            padding-right: 1rem;
            padding-left: 1rem;
        
        }
        .app-download-img {
            width: 100%;
            margin: auto;
        }
        .membership {
            padding: 12rem 1rem;
        }
        .membership-main {
            display: block;
            margin: auto;
        }
        .membership-main-img {
            margin: auto;
        }
        .membership-text {
            width:auto;
            padding-block-start: 2rem;
            padding-block-end: 2rem;
        }
        .membership-doctor-img {
            width: none;
            width: 300px;
            padding: 4rem 4rem 0rem 0rem;
        }
        .cover {
            padding: 2rem 0rem;
            flex-flow: column-reverse;
        }
        .footer-brand {
            width: 13%;
        }
        .app-download-link > a.android {
            display: none;
        }
        .app-download-link {
            align-self: center;
        }
        .membership-form-send {
            padding: 0rem 0rem;
        }
    }
    
        
    @media(min-width:1300px) and (max-width:1460px) {
        .cover-s {
            padding: 2rem 7rem;
        }
        .footer-main-s {
            padding: 4rem 6rem;
        }
    }
    @media(max-width:1300px) {
        .cover-s {
            padding: 2rem 2rem;
        }
        .footer-main-s {
            padding: 4rem 1rem;
        }
    }
    @media(max-width:1100px) {
        .cover-s {
            padding: 2rem 2rem;
        }
        .footer-main-s {
            padding: 4rem 1rem;
        }
        .card-disable {
            margin: 0rem 1rem;
        }
        .card-disable1 {
            margin: 0rem 1rem;
        }
        .card-activated {
            margin: 0rem 1rem;
            padding: 1rem 2rem;
        }
    }
    @media(max-width:1075px) {
        
        
        .cover-s {
            padding: 2rem 2rem;
        }
        .footer-main-s {
            padding: 4rem 1rem;
        }
        .card-disable {
            margin: 0rem 1rem;
        }
        .card-disable1 {
            margin: 0rem 1rem;
        }
        .card-activated {
            margin: 0rem 1rem;
            padding: 1rem 2rem;
        }
        .cover-s {
            flex-direction: column-reverse;
            padding: inherit;
        }
        .ul {
            flex-direction: column-reverse;
            padding-bottom: 2rem;
        }
        .footer-ul {
            display: none;
        }
        
        .footer-contact-us {
            width: 100%;
        }
        .link-section {
            padding-top: 2rem;
            position: absolute;
        }
        .cover-s ul {
            padding-bottom: 1rem;
        }
        .footer-main-s {
            padding: 4rem 2rem;
        }
        .footer-main-link {
            display: none;
        } 
        .h1{
            padding: 1rem 2rem 1rem 2rem;
        }
        .header-items{
            display: none;
        }
        .p1 {
            width: 100%;
            line-height: 30px;
        }
        .text {
            direction: rtl;
            padding-top: 5rem;
            padding-right: 0rem;
        }
        
    }
    .dropDown {
        display: none;
    }
    .dropUp{
        display: block;
    }
